<!DOCTYPE html>
<html lang="es">
    <head>
        <title>GIT | {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/base.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block navegacion %}
            <nav role="navigation" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Cambiar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home active" aria-hidden="true"></span></a>
                </div>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/notificaciones"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Notificaciones <span class="badge">14</span></a></li>
                        <li><a href="/estadisticas"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estadisticas</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/ayuda"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</a></li>
                        <li><a href="/perfil"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Perfil</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</a></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}

        <div class="container">
            {% block contenido %}{% endblock %}
            <div class="row">
                <div class="col-xs-12">
                    <footer>
                        <p>Sistema realizado por Oscar Gonzalez, Alejandro López, Miguel Sánchez y Stoyan Veselinov</p>
                    </footer>
                </div>
            </div>
        </div>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
