{% extends "base.html" %}
{% block title %}Estadisticas{% endblock %}
{% block navegacion %}
    {% include "navegacion.html" %}
{% endblock %}
{% block head %}
    <style>
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .x.axis path {
        }

        .cerradas {
          fill: none;
          stroke: steelblue;
          stroke-width: 1.5px;
        }

        .nuevas{
          fill: none;
          stroke: green;
          stroke-width: 1.5px;
        }

        .asignada{
            fill: steelblue;
        }

        .cerrada-fracaso{
            fill: red;
        }

        .cerrada-exito{
            fill:green;
        }

        .area{
            fill: steelblue;
        }

        .legend {
            font-size: 12px;
        }

        rect {
            stroke-width: 2;
        }
    </style>
{% endblock %}

{% block contenido %}
    <h1>Estadísticas</h1>
    <div>
        <h2>Resumen de incidencias</h2>
        <div id="incidencias"></div>
    </div>
    <div>
        <h2>Duración de los estados por incidencia</h2>
        <div id="asignada"></div>
        <div id="cerrada-exito"></div>
        <div id="cerrada-fracaso"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        // Variables globales
        var margin = {top: 20, right: 20, bottom: 30, left: 50},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;
        var parseDate = d3.time.format("%d-%m-%Y").parse;

        function dibujar(elemento_html, path_data, etiqueta_ordenadas, primitiva_dibujar) {
            /**
              * Función abstracta que dibuja en elemento_html un gráfico establecido
              * por primitiva_dibujar con los datos obtenidos desde path_data
              */

            // Declaramos los ejes y el elemento svg padre
            if(elemento_html === "#incidencias"){
                var x = d3.time.scale();
            }else{
                var x = d3.scale.linear();
            }
            x.range([0, width]);

            var y = d3.scale.linear()
                .range([height, 0]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

            var svg = d3.select(elemento_html).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.csv(path_data, function(error, data) {
              // Dibujamos el gráfico
              primitiva_dibujar(svg, data, x, y, xAxis, yAxis);

              // Dibujamos sus ejes
              svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(xAxis);
              svg.append("g")
                  .attr("class", "y axis")
                  .call(yAxis)
                .append("text")
                  .attr("transform", "rotate(-90)")
                  .attr("y", 6)
                  .attr("dy", ".71em")
                  .style("text-anchor", "end")
                  .text(etiqueta_ordenadas);
            });
        }

        // Dibuja el gráfico para la descripción de incidencias
        dibujar("#incidencias", "/static/incidencias.csv", "# incidencias", function (svg, data, x, y) {
            // Procesamos los datos
            data.forEach(function(d) {
                d.fecha = parseDate(d.fecha);
                d.nuevas = +d.nuevas;
                d.cerradas = +d.cerradas;
            });

            // Establecemos el dominio de los dos ejes
            y.domain([0, d3.max(data, function(d) { return d.cerradas > d.nuevas ? d.cerradas : d.nuevas; })]);
            x.domain(d3.extent(data, function(d) { return d.fecha; }));

            // Creamos las representaciones
            var linea_nuevas = d3.svg.line()
                .x(function(d) { return x(d.fecha); })
                .y(function(d) { return y(d.nuevas); });
            var linea_cerradas = d3.svg.line()
                .x(function(d) { return x(d.fecha); })
                .y(function(d) { return y(d.cerradas); });

            // Dibujamos
            svg.append("path")
                .datum(data)
                .attr("class", "nuevas")
                .attr("d", linea_nuevas);
            svg.append("path")
                .datum(data)
                .attr("class", "cerradas")
                .attr("d", linea_cerradas);

            // Imprimimos la leyenda
            var legend = svg.selectAll('.legend')
              .data(['nuevas', 'cerradas'])
              .enter()
                  .append('g')
                  .attr('class', 'legend')
                  .attr('transform', function(d, i) {
                    return 'translate(0, ' + i * 20 + ')';
                  });
            legend.append('rect')
              .attr('width', 18)
              .attr('height', 18)
              .attr('x', width - 18)
              .style('fill', function(d, i) { return d == 'nuevas' ? 'green' : 'steelblue'; });
            legend.append('text')
              .attr('x', width - 24)
              .attr('y', 9)
              .attr('dy', ".35em")
              .style("text-anchor", "end")
              .text(function(d) { return d; });
        });

        // Dibuja los gráficos para todos los cambios de estado
        ["asignada", "cerrada-exito", "cerrada-fracaso"].forEach(function (cambio_estado){
            console.log(cambio_estado);
            // Dibuja los gráficos para un cambio de estado concreto
            dibujar("#" + cambio_estado, "/static/" + cambio_estado + ".csv",
                    "% acumulado", function (svg, data, x, y, xAxis, yAxis){
                // Procesamos los datos
                data.forEach(function(d) {
                    d.duracion = parseInt(d.duracion);
                    d.dato = d.dato / 100;
                });

                // Establecemos el dominio de los dos ejes
                y.domain([0, d3.max(data, function(d) { return d.dato; })]);
                x.domain(d3.extent(data, function(d) { return d.duracion; }));

                // Cambiamos el formato de los ejes
                yAxis.tickFormat(d3.format(".0%"));
                xAxis.tickFormat(d3.format(""));

                // Creamos la representación
                var area = d3.svg.area()
                    .x(function(d) { return x(d.duracion); })
                    .y1(function(d) { return y(d.dato); })
                    .y0(height);

                // Dibujamos
                svg.append("path")
                    .datum(data)
                    .attr("class", cambio_estado)
                    .attr("d", area);
            });
        });
    </script>
{% endblock %}
