{% extends "base.html" %}
{% block title %} Notificaciones {% endblock %}
{% block navegacion %}
    {% include "navegacion.html" %}
{% endblock %}

{% block contenido %}
    <h1>Notificaciones</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha Cambio</th>
                <th>Estado</th>
                {% if "tecnicos" in grupos %}
                    <th>Autor</th>
                {% elif "supervisores" in grupos %}
                    <th>Técnico asignado</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for notificacion in notificaciones %}
                <tr id="notificacion-{{ notificacion.id }}">
                    <td>{{ notificacion.incidencia.id }}</td>
                    <td>{{ notificacion.incidencia.nombre }}</td>
                    <td>{{ notificacion.fecha_cambio }}</td>
                    <td>{{ notificacion.get_estado_final_display }}</td>
                    <td>{{ notificacion.usuario }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script>
        $("tr").click(function(e){
            var notificacion = $(e.target).parent().attr('id').substr(13);
            window.location.replace("/notificaciones/" + notificacion);
        });
    </script>
{% endblock %}
