<!DOCTYPE html>
<html lang="es">
    <head>
        <title>GIT | Listado</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="./base.css">
    </head>
    <body>
        <nav role="navigation" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./listado.html" class="navbar-brand"><span class="glyphicon glyphicon-home active" aria-hidden="true"></span></a>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./notificaciones.html"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Notificaciones <span class="badge">14</span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estadisticas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</a></li>
                    <li><a href="./perfil.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Perfil</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1>Notificaciones</h1>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha Apertura</th>
                        <th>Tags</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-primary">
                        <td>1</td>
                        <td>Incidencia corta</td>
                        <td>12/12/2014</td>
                        <td>etiqueta1, etqieta2, nose</td>
                        <td><input style="margin-left: 30px;" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Incidencia muy larga para aburrir</td>
                        <td>12/12/2014</td>
                        <td>etiqueta1</td>
                        <td><input style="margin-left: 30px;" type="checkbox"></td>
                    </tr>
                    <tr class="text-primary">
                        <td>3</td>
                        <td>Incidencia corta</td>
                        <td>12/12/2014</td>
                        <td>etqieta2, nose, miel, cabra, movil</td>
                        <td><input style="margin-left: 30px;" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Incidencia muy corta</td>
                        <td>12/12/2014</td>
                        <td>etiqueta1, nose</td>
                        <td><input style="margin-left: 30px;" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Incidencia pu</td>
                        <td>12/12/2014</td>
                        <td>nose</td>
                        <td><input style="margin-left: 30px;" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Incidencia corta</td>
                        <td>12/12/2014</td>
                        <td>etiqueta1, etqieta2, nose</td>
                        <td><input style="margin-left: 30px;" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Incidencia corta</td>
                        <td>12/12/2014</td>
                        <td>etiqueta1, etqieta2, nose</td>
                        <td><input style="margin-left: 30px;" type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" type="submit">Limpiar seleccionados</a>
            <a class="btn btn-default" type="submit">Limpiar todo</a>

            <nav class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <div class="row">
                <div class="col-xs-12">
                    <footer>
                        <p>Realizado por Oscar Gonzalez, Alejandro López, Miguel Sánchez y Stoyan Veselinev</p>
                    </footer>
                </div>
            </div>
        </div>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
