{% extends "base.html" %}
{% block title %}Incidencia A{% endblock %}
{% block navegacion %}
    {% include "navegacion.html" %}
{% endblock %}

{% block contenido %}
    <div class="resumen-incidencia">
        <h1>{{ incidencia.nombre }}</h1>
        <div class="col-md-4">
            <div class="dato">
                <h4>Número: </h4><span>{{ incidencia.id }}</span>
            </div>
            <div class="dato">
                <h4>Fecha Apertura: </h4><span>{{ incidencia.fecha_apertura }}</span>
            </div>
            <div class="dato">
                <h4>Autor: </h4><span>{{ incidencia.autor }}</span>
            </div>
            <div class="dato">
                <h4>Supervisor: </h4><span>{{ incidencia.supervisor|default:"--" }}</span>
            </div>
            <div class="dato">
                <h4>Estado: </h4><span>{{ estado }}</span>
            </div>
            <div class="dato">
                <h4>Categoria: </h4><span>{{ categoria }}</span>
            </div>
            {% if "supervisores" not in grupos %}
                <div class="dato">
                    <h4>Técnico Asignado: </h4><span>{{ incidencia.tecnico_asignado|default:"--" }}</span>
                </div>
                <div class="dato">
                    <h4>Prioridad: </h4><span>{{ incidencia.prioridad|default:"--" }}</span>
                </div>
                <div class="dato">
                    <h4>Inventario afectado: </h4><span>{{ incidencia.inventario|default:"--" }}</span>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-8">
        <h4>Descripcion:</h4>
        <div>
            {{ incidencia.descripcion }}
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="comentarios">
        <div class="panel panel-info">
            <div class="panel-heading">Por Circos el 21/12/2014</div>
            <div class="panel-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Por Juanma el 22/12/2014</div>
            <div class="panel-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
    {% if "supervisores" in grupos %}
        <form method="post" action="/incidencia/{{ incidencia.id }}">
            {% include "formulario.html" %}
        </form>

    {% endif %}
    {% if "tecnicos" in grupos %}
        {% if incidencia.estado == "AS" or incidencia.estado == "CP" %}
            <form>
                <textarea class="form-control" rows="4"></textarea>
                <button style="margin-top: 5px" type="submit" class="btn btn-primary">Enviar comentario</button>
            </form>
            <a class="btn btn-primary" href="/cerrar?tipo=exito&incidencia={{ incidencia.id }}" style="margin-top: 20px;">Cerrar con éxito</a>
            <a class="btn btn-danger" href="/cerrar?tipo=fracaso&incidencia={{ incidencia.id }}" style="margin-top: 20px;">Cerrar con fracaso</a>
        {% endif %}
    {% endif %}
    {% if "clientes" in grupos and incidencia.estado == "AS" %}
        <a class="btn btn-primary" href="/cerrar?tipo=prematuro&incidencia={{ incidencia.id }}" style="margin-top: 20px;">Cerrar</a>
    {% endif %}

{% endblock %}
