.table-hover > tbody > tr:hover{
    background-color: #E5D664;
    cursor: pointer;
}

tr.text-primary{
    font-weight: bold;
}

footer{
    margin: 30px 0 10px 0;
}

.resumen-incidencia h4{
    display: inline;
}

.dato{
    margin: 5px 0;
}

.comentarios{
    margin-top: 20px;
}
